In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("E:\\heart_diesese.csv")

## Explanotary analysis

In [4]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [6]:
data.columns = ['age', 'sex', 'chest_pain_type', 'resting_blood_pressure',
               'cholestrol', 'fasting_blood_sugar', 'rest_ecg', 'max_heart_rate_achieved',
                'exercise_induced_angina', 'st_depression', 'st_slope',
                'num_major_vessels', 'thalassemia', 'target']

In [7]:
data

,age,sex,chest_pain_type,resting_blood_pressure,cholestrol,fasting_blood_sugar,rest_ecg,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [8]:
data['sex'][data['sex'] == 0] = 'female'
data['sex'][data['sex'] == 1] = 'male'

C:\Users\ACER\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [9]:
data

,age,sex,chest_pain_type,resting_blood_pressure,cholestrol,fasting_blood_sugar,rest_ecg,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target
0,63,male,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,male,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,female,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,male,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,female,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,female,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,male,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,male,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,male,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,female,1,130,236,0,0,174,0,0.0,1,1,2,0

In [10]:
data['chest_pain_type'][data['chest_pain_type'] == 1] = 'typical angina'
data['chest_pain_type'][data['chest_pain_type'] == 2] = 'atypical angina'
data['chest_pain_type'][data['chest_pain_type'] == 3] = 'non_anginal pain'
data['chest_pain_type'][data['chest_pain_type'] == 4] = 'asymptomatic'

C:\Users\ACER\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [11]:
data

,age,sex,chest_pain_type,resting_blood_pressure,cholestrol,fasting_blood_sugar,rest_ecg,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target
0,63,male,non_anginal pain,145,233,1,0,150,0,2.3,0,0,1,1
1,37,male,atypical angina,130,250,0,1,187,0,3.5,0,0,2,1
2,41,female,typical angina,130,204,0,0,172,0,1.4,2,0,2,1
3,56,male,typical angina,120,236,0,1,178,0,0.8,2,0,2,1
4,57,female,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,female,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,male,non_anginal pain,110,264,0,1,132,0,1.2,1,0,3,0
300,68,male,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,male,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,female,typical angina,130,236,0,0,174,0,0.0,1,1,2,0

In [12]:
data['fasting_blood_sugar'][data['fasting_blood_sugar'] == 0] = 'lower than 120mg/ml'
data['fasting_blood_sugar'][data['fasting_blood_sugar'] == 1] = 'greater than 120mg/ml'

C:\Users\ACER\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\ACER\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
data

,age,sex,chest_pain_type,resting_blood_pressure,cholestrol,fasting_blood_sugar,rest_ecg,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target
0,63,male,non_anginal pain,145,233,greater than 120mg/ml,0,150,0,2.3,0,0,1,1
1,37,male,atypical angina,130,250,lower than 120mg/ml,1,187,0,3.5,0,0,2,1
2,41,female,typical angina,130,204,lower than 120mg/ml,0,172,0,1.4,2,0,2,1
3,56,male,typical angina,120,236,lower than 120mg/ml,1,178,0,0.8,2,0,2,1
4,57,female,0,120,354,lower than 120mg/ml,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,female,0,140,241,lower than 120mg/ml,1,123,1,0.2,1,0,3,0
299,45,male,non_anginal pain,110,264,lower than 120mg/ml,1,132,0,1.2,1,0,3,0
300,68,male,0,144,193,greater than 120mg/ml,1,141,0,3.4,1,2,3,0
301,57,male,0,130,131,lower than 120mg/ml,1,115,1,1.2,1,1,3,0
302,57,female,typical angina,130,236,lower than 120mg/ml,0,174,0,0.0,1,1,2,0

In [14]:
data['st_slope'][data['st_slope'] == 1] = 'upsloping'
data['st_slope'][data['st_slope'] == 2] = 'flat'
data['st_slope'][data['st_slope'] == 3] = 'downsloping'

C:\Users\ACER\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
data

,age,sex,chest_pain_type,resting_blood_pressure,cholestrol,fasting_blood_sugar,rest_ecg,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target
0,63,male,non_anginal pain,145,233,greater than 120mg/ml,0,150,0,2.3,0,0,1,1
1,37,male,atypical angina,130,250,lower than 120mg/ml,1,187,0,3.5,0,0,2,1
2,41,female,typical angina,130,204,lower than 120mg/ml,0,172,0,1.4,flat,0,2,1
3,56,male,typical angina,120,236,lower than 120mg/ml,1,178,0,0.8,flat,0,2,1
4,57,female,0,120,354,lower than 120mg/ml,1,163,1,0.6,flat,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,female,0,140,241,lower than 120mg/ml,1,123,1,0.2,upsloping,0,3,0
299,45,male,non_anginal pain,110,264,lower than 120mg/ml,1,132,0,1.2,upsloping,0,3,0
300,68,male,0,144,193,greater than 120mg/ml,1,141,0,3.4,upsloping,2,3,0
301,57,male,0,130,131,lower than 120mg/ml,1,115,1,1.2,upsloping,1,3,0
302,57,female,typical angina,130,236,lower than 120mg/ml,0,174,0,0.0,upsloping,1,2,0

In [16]:
data['exercise_induced_angina'][data['exercise_induced_angina'] == 0] = 'no'
data['exercise_induced_angina'][data['exercise_induced_angina'] == 1] = 'yes'

C:\Users\ACER\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\ACER\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
data

,age,sex,chest_pain_type,resting_blood_pressure,cholestrol,fasting_blood_sugar,rest_ecg,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target
0,63,male,non_anginal pain,145,233,greater than 120mg/ml,0,150,no,2.3,0,0,1,1
1,37,male,atypical angina,130,250,lower than 120mg/ml,1,187,no,3.5,0,0,2,1
2,41,female,typical angina,130,204,lower than 120mg/ml,0,172,no,1.4,flat,0,2,1
3,56,male,typical angina,120,236,lower than 120mg/ml,1,178,no,0.8,flat,0,2,1
4,57,female,0,120,354,lower than 120mg/ml,1,163,yes,0.6,flat,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,female,0,140,241,lower than 120mg/ml,1,123,yes,0.2,upsloping,0,3,0
299,45,male,non_anginal pain,110,264,lower than 120mg/ml,1,132,no,1.2,upsloping,0,3,0
300,68,male,0,144,193,greater than 120mg/ml,1,141,no,3.4,upsloping,2,3,0
301,57,male,0,130,131,lower than 120mg/ml,1,115,yes,1.2,upsloping,1,3,0
302,57,female,typical angina,130,236,lower than 120mg/ml,0,174,no,0.0,upsloping,1,2,0

In [18]:
data['thalassemia'][data['thalassemia'] == 1] = 'normal'
data['thalassemia'][data['thalassemia'] == 2] = 'fixed defect'
data['thalassemia'][data['thalassemia'] == 3] = 'reversable defect'

C:\Users\ACER\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
data

,age,sex,chest_pain_type,resting_blood_pressure,cholestrol,fasting_blood_sugar,rest_ecg,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target
0,63,male,non_anginal pain,145,233,greater than 120mg/ml,0,150,no,2.3,0,0,normal,1
1,37,male,atypical angina,130,250,lower than 120mg/ml,1,187,no,3.5,0,0,fixed defect,1
2,41,female,typical angina,130,204,lower than 120mg/ml,0,172,no,1.4,flat,0,fixed defect,1
3,56,male,typical angina,120,236,lower than 120mg/ml,1,178,no,0.8,flat,0,fixed defect,1
4,57,female,0,120,354,lower than 120mg/ml,1,163,yes,0.6,flat,0,fixed defect,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,female,0,140,241,lower than 120mg/ml,1,123,yes,0.2,upsloping,0,reversable defect,0
299,45,male,non_anginal pain,110,264,lower than 120mg/ml,1,132,no,1.2,upsloping,0,reversable defect,0
300,68,male,0,144,193,greater than 120mg/ml,1,141,no,3.4,upsloping,2,reversable defect,0
301,57,male,0,130,131,lower than 120mg/ml,1,115,yes,1.2,upsloping,1,reversable defect,0
302,57,female,typical angina,130,236,lower than 120mg/ml,0,174,no,0.0,upsloping,1,fixed defect,0

In [20]:
data.info

<bound method DataFrame.info of      age     sex   chest_pain_type  resting_blood_pressure  cholestrol  \
0     63    male  non_anginal pain                     145         233
1     37    male   atypical angina                     130         250
2     41  female    typical angina                     130         204
3     56    male    typical angina                     120         236
4     57  female                 0                     120         354
..   ...     ...               ...                     ...         ...
298   57  female                 0                     140         241
299   45    male  non_anginal pain                     110         264
300   68    male                 0                     144         193
301   57    male                 0                     130         131
302   57  female    typical angina                     130         236

       fasting_blood_sugar  rest_ecg  max_heart_rate_achieved  \
0    greater than 120mg/ml         0                      150
1      lower than 120mg/ml         1                      187
2      lower than 120mg/ml         0                      172
3      lower than 120mg/ml         1                      178
4      lower than 120mg/ml         1                      163
..                     ...       ...                      ...
298    lower than 120mg/ml         1                      123
299    lower than 120mg/ml         1                      132
300  greater than 120mg/ml         1                      141
301    lower than 120mg/ml         1                      115
302    lower than 120mg/ml         0                      174

    exercise_induced_angina  st_depression   st_slope  num_major_vessels  \
0                        no            2.3          0                  0
1                        no            3.5          0                  0
2                        no            1.4       flat                  0
3                        no            0.8       flat                  0
4                       yes            0.6       flat                  0
..                      ...            ...        ...                ...
298                     yes            0.2  upsloping                  0
299                      no            1.2  upsloping                  0
300                      no            3.4  upsloping                  2
301                     yes            1.2  upsloping                  1
302                      no            0.0  upsloping                  1

           thalassemia  target
0               normal       1
1         fixed defect       1
2         fixed defect       1
3         fixed defect       1
4         fixed defect       1
..                 ...     ...
298  reversable defect       0
299  reversable defect       0
300  reversable defect       0
301  reversable defect       0
302       fixed defect       0

[303 rows x 14 columns]>

In [21]:
data.dtypes

age                          int64
sex                         object
chest_pain_type             object
resting_blood_pressure       int64
cholestrol                   int64
fasting_blood_sugar         object
rest_ecg                     int64
max_heart_rate_achieved      int64
exercise_induced_angina     object
st_depression              float64
st_slope                    object
num_major_vessels            int64
thalassemia                 object
target                       int64
dtype: object

In [22]:
data['rest_ecg'] = data['rest_ecg'].astype('object')

In [23]:
data.dtypes

age                          int64
sex                         object
chest_pain_type             object
resting_blood_pressure       int64
cholestrol                   int64
fasting_blood_sugar         object
rest_ecg                    object
max_heart_rate_achieved      int64
exercise_induced_angina     object
st_depression              float64
st_slope                    object
num_major_vessels            int64
thalassemia                 object
target                       int64
dtype: object

In [24]:
data.head()

,age,sex,chest_pain_type,resting_blood_pressure,cholestrol,fasting_blood_sugar,rest_ecg,max_heart_rate_achieved,exercise_induced_angina,st_depression,st_slope,num_major_vessels,thalassemia,target
0,63,male,non_anginal pain,145,233,greater than 120mg/ml,0,150,no,2.3,0,0,normal,1
1,37,male,atypical angina,130,250,lower than 120mg/ml,1,187,no,3.5,0,0,fixed defect,1
2,41,female,typical angina,130,204,lower than 120mg/ml,0,172,no,1.4,flat,0,fixed defect,1
3,56,male,typical angina,120,236,lower than 120mg/ml,1,178,no,0.8,flat,0,fixed defect,1
4,57,female,0,120,354,lower than 120mg/ml,1,163,yes,0.6,flat,0,fixed defect,1

In [25]:
data = pd.get_dummies(data, drop_first = True)

In [26]:
data.head()

,age,resting_blood_pressure,cholestrol,max_heart_rate_achieved,st_depression,num_major_vessels,target,sex_male,chest_pain_type_atypical angina,chest_pain_type_non_anginal pain,chest_pain_type_typical angina,fasting_blood_sugar_lower than 120mg/ml,rest_ecg_1,rest_ecg_2,exercise_induced_angina_yes,st_slope_flat,st_slope_upsloping,thalassemia_fixed defect,thalassemia_normal,thalassemia_reversable defect
0,63,145,233,150,2.3,0,1,1,0,1,0,0,0,0,0,0,0,0,1,0
1,37,130,250,187,3.5,0,1,1,1,0,0,1,1,0,0,0,0,1,0,0
2,41,130,204,172,1.4,0,1,0,0,0,1,1,0,0,0,1,0,1,0,0
3,56,120,236,178,0.8,0,1,1,0,0,1,1,1,0,0,1,0,1,0,0
4,57,120,354,163,0.6,0,1,0,0,0,0,1,1,0,1,1,0,1,0,0

In [29]:
X = data.drop('target', axis = 1)
y = data['target']

In [30]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .2,
                                                   random_state = 10)

In [33]:
from sklearn.ensemble import RandomForestClassifier
rand_forest = RandomForestClassifier(max_depth= 5)
rand_forest.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=5, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [40]:
estimator = rand_forest.estimators_[1]
feature_names = [i for i in X_train.columns]
y_train_str = y_train.astype('str')
y_train_str[y_train_str == '0'] = 'no disease'
y_train_str[y_train_str == '1'] = 'disease'

['age',
 'resting_blood_pressure',
 'cholestrol',
 'max_heart_rate_achieved',
 'st_depression',
 'num_major_vessels',
 'sex_male',
 'chest_pain_type_atypical angina',
 'chest_pain_type_non_anginal pain',
 'chest_pain_type_typical angina',
 'fasting_blood_sugar_lower than 120mg/ml',
 'rest_ecg_1',
 'rest_ecg_2',
 'exercise_induced_angina_yes',
 'st_slope_flat',
 'st_slope_upsloping',
 'thalassemia_fixed defect',
 'thalassemia_normal',
 'thalassemia_reversable defect']